.card{
    width: 200px;
    background-color: gold;
    padding: 1em;
    border-radius: 20px;
    font-family: 'Indian';
}

.menu-content{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
    align-content: center;
}

.image{
    width: 150px;
    border-radius: 10px;
}

.food-name{
    color: white;
    
}

